body {
    background-color: rgb(243, 244, 246);
    
    & main {
        & section {
            & img {
                display: block;
                width: 100%;
            }

            & > div {
                max-width: 900px;
                width: 100%;

                & .btn-start {
                    background-color: hsl(223, 100%, 14%);

                    &:hover {
                        transition: all 350ms ease-in-out;
                        background-color: hsl(223, 100%, 24%);
                    }
                }
            }
        }
    }
}