body {
    background-color: rgb(246, 243, 245);

    & main {
        height: 80vh;

        & section {
            max-width: 600px;
            width: 100%;
            background:hsl(0, 0%, 100%);
            box-shadow: 5px 5px 10px hsl(0, 0%, 91%);

            & h2, & h5 {
                text-align: center;
            }
        }
    }
}